$bg-white : #FFFFFF;
$bg-muted : #F5F6FA;
$dark :#323232;
$muted:#BBBBBB;
$orange:#F78434;
$blue:#58BEBF;
$tablet: 1054px;
$stablet: 800px;
$phone: 425px;

body{
    background: $bg-white;
    font-family: 'Poppins', sans-serif;
}

@mixin mediaTablet {
    @media screen and (max-width: $tablet) {
        @content;
    }
}

@mixin mediaSTablet {
    @media screen and (max-width: $stablet) {
        @content;
    }
}

@mixin mediaPhone {
    @media screen and (max-width: $phone) {
        @content;
    }
}

.bg-muted {
    z-index: -1;
    position: absolute;
    top: 1940px;
    background-color: $bg-muted;
    width: 100%;
    height: 704px;

    @include mediaSTablet {
        top: 1540px;
        height: 1700px;
    }
}

.none {
    display: none !important;
}

.white-btn {
    position: relative;
    color: $dark;
    border-radius: 30px;
    width: 172px;
    height: 58px;
    background: $bg-white;
    font-weight: bold;
    transition: background 0.3s ease-in;

    @include mediaSTablet {
        font-size: 14px;
    }

    &:hover {
        background: #f3ebeb;
    }
    
    & img {
        position: absolute;
        bottom: 23px;
        left: 24px;
    }
}

.white-btn2 {
    font-size: 16px;
    color: $orange;
    border-radius: 30px;
    width: 157px;
    height: 58px;
    background: $bg-white;
    font-weight: bold;
    transition: all 0.3s ease-in;

    @include mediaSTablet {
        font-size: 14px;
    }

    &:hover {
        background: #f3ebeb;
    }
}

.orange-btn {
    font-size: 16px;
    color: $bg-white;
    border-radius: 30px;
    width: 172px;
    height: 58px;
    background: $orange;
    font-weight: bold;
    transition: all 0.3s ease-in;

    @include mediaSTablet {
        font-size: 14px;
    }

    &:hover {
        background: #ee751e;
    }
}

.logo {
    display: flex;
    align-items: center;
    color: $dark;
    font-weight: bold;
    font-size: 24px;
}

.l {
    width: 157px !important;
}

.tabsnone {
    @include mediaSTablet {
        display: none;
    }
}

.phonenone {
    @include mediaPhone{
        display: none;
    }
}