.contacts {
    width: 100%;
    height: 492px;  
    display: flex;
    text-align: left;
    justify-content: space-around;
    align-items: flex-end;
    gap: 174px;
    background-image: url(img/contacts/bg.svg);

    @include mediaTablet {
        gap: 100px;
    }

    @include mediaPhone {
        gap: 0;
    }
}

.contacts-text-block {
    padding-bottom: 55px;

    @include mediaTablet {
        padding-left: 15px;
        padding-bottom: 15px;
    }

    @include mediaSTablet {
        padding-left: 25px;
    }
}

.contacts-title {
    font-size: 42px;
    font-weight: bold;
    color: $bg-white;

    @include mediaSTablet {
        font-size: 32px;
    }

    @include mediaPhone {
        font-size: 28px;
    }
}

.contacts-subtitle {
    font-size: 16px;
    color: $bg-white;
    padding-top: 15px;
    padding-bottom: 30px;

    @include mediaSTablet {
        font-size: 16px;
    }

    @include mediaPhone {
        font-size: 14px;
    }
}

.contacts-images {
    position: relative;
}

.contactas-img {
    position: absolute;
    bottom: 0;
    left: 80px;
    z-index: 2;

    @include mediaSTablet {
        width: 80%;
    }

    @include mediaPhone {
        display: none;
    }
}

.contactas-oval {
    @include mediaPhone {
        width: 1%;
    }
}