.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 135px;

    @include mediaTablet {
        gap: 10px;
    }

    @include mediaSTablet {
        flex-direction: column;
    }
}

.content-cards {
    display: flex;
    gap: 32px;
    transform: translate(-50%, 0%);
    
    @include mediaSTablet {
        flex-direction: column;
        transform: translate(0%, 0%);

    }
}

.content-card {   
    border-radius: 20px 20px 0 20px;
}

.content-card2 {
    border-radius: 20px 20px 0 20px;       
}

.card-add {
    position: relative;
}

.content-text-block {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include mediaTablet {
        padding-right: 60px;
    }

    @include mediaSTablet {
        padding-right: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.content-title {
    font-size: 42px;
    font-weight: bold;
    color: $dark;

    @include mediaSTablet {
        font-size: 28px;
    }
}

.content-subtitle {
    font-size: 16px;
    color: $dark;

    @include mediaSTablet {
        font-size: 14px;
    }
}

.add {
    position: absolute;
    bottom: 90px;
    right: -90px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 300px;
    height: 140px;
    background: $bg-white;
    border-radius: 15px;

    @include mediaSTablet {
        width: 250px;
        height: 110px;
        gap: 10px; 

        top: -12%;
        left: 18%;
    }
}

.add-icon {
    width: 45px;
    height: 45px;

    @include mediaSTablet {
        width: 30px;
        height: 30px;
    }
}

.add-title {
    font-size: 16px;
    font-weight: bold;
    color: $dark;

    @include mediaSTablet {
        font-size: 14px;
    }
}

.add-subtitle {
    font-size: 16px;
    color: $dark;
    
    @include mediaSTablet {
        font-size: 14px;
    }
}
